nav {
  background: #1f2a40;
  padding: 10px;

  a {
    color: white;
    margin-right: 15px;
    text-decoration: none;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
